header, footer{
  background-color: #ffe67c;
  font: sans-serif;
  color: black;
  height: 40px;
  text-align: center;
  padding: 100px;

}
body{
  background-color: #7dbff2;
}

/* nav{
  border-top: thick #5b7d87 dotted;
  border-bottom: thick #5b7d87 dotted;
  padding-top: 10px;
  padding-bottom: 10px;
} */
 nav {
  /* background-color: black; */
  color: #fef9ff;
}
nav:hover {
  font-weight: bold;
  color: pink;
}

.jumbotron{
  background-color: #f979b3
}
/* .carousel-inner{
  width:550px;
  height:650px;

} */
/* .container-fluid{ */
  /* padding:0px;
} */
